/*
 * @Author: Mr.B 
 * @Date: 2018-03-11 14:28:48 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-03-11 16:11:42
 */
@import '~nib/lib/nib/index.styl'
@import '../../styles/utils/reset.styl'

#roomCanvas
    display block
    width 800px
    height 564px
    